@font-face {
  font-family: "tommyLight";
  src: url("../font/made_tommy_soft/Tommy-Light.otf") format("openType");
  font-weight: lighter;
}

@font-face {
  font-family: "tommyRegular";
  src: url("../font/made_tommy_soft/Tommy-Regular.otf") format("openType");
  font-weight: normal;
}

@font-face {
  font-family: "tommyBold";
  src: url("../font/made_tommy_soft/Tommy-Bold.otf") format("openType");
  font-weight: bold;
}

body {
  width: 100%;
  height: 100vh;
  background: url(../img/header_pc-1200.webp) center center;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
  color: white;
  font-family: "tommyRegular";
}

a {
  color: #f82249;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #f8234a;
  outline: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h6,
p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding: 0;
  font-size: 1vw;
  color: #323232;
}

.card-main {
  width: 100%;
  background: none !important;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
}

.ticket-card {
  overflow: auto;
  white-space: nowrap;
  display: flex;
}

.card {
  display: inline-block;
  white-space: normal;
}

.ticket-card h4 {
  font-family: "tommyRegular";
  font-weight: bolder;
  margin-bottom: 0;
  padding: 0;
  font-size: 1.5vw;
}

.ticket-card h5 {
  font-family: "tommyRegular";
  font-weight: bolder;
  padding: 0;
  font-size: 1.6vw;
}

.ticket-card h6 {
  font-family: "tommyRegular";
  font-weight: 400;
  padding: 0;
  font-size: 1vw;
  color: #323232;
}

h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  padding: 0;
  font-size: 1vw;
  color: #323232;
}

.main-page {
  margin-top: 70px;
}

.wow {
  visibility: hidden;
}

/* Prelaoder */

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #dde6ed url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: rgb(148, 84, 236);
  color: #dde6ed;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s ease-in-out;
}

.back-to-top i {
  font-size: 24px;
  padding-top: 6px;
}

/* Sections Header
  --------------------------------*/

.section-header {
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 20px;
}

.section-header h2 {
  font-size: 37px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "tommyBold";
  color: #fffced !important;
  paint-order: stroke fill;
}

.section-header p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #dde6ed;
}

.ticket p {
  padding: 0;
  margin: 0;
  font-size: small;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

#header {
  height: 90px;
  padding: 25px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled,
#header.header-fixed {
  background: rgba(0, 0, 0, 0.1);
  height: 80px;
  padding: 10px 0;
  transition: all 0.5s;
}

#header #logo h1 span {
  color: #f82249;
}

#promoter {
  padding-top: 60px;
  padding-bottom: 30px;
  /* background-color: white; */
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

#promoter p {
  font-size: 1.5vw;
  font-family: "tommyBold";
  color: white;
  margin-bottom: 15px;
}

#header #logo h1 a,
#header #logo h1 a:hover {
  color: #dde6ed;
}

#header #logo img {
  padding: 0;
  margin-top: 5px;
  max-height: 50px;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/

/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
  margin: auto;
  padding: 0;
  list-style: none;
  font-size: large;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu>li {
  float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
  float: right;
  margin: 0;
}

/* Nav Meu Styling */

.nav-menu a {
  margin-top: 5px;
  padding: 8px;
  text-decoration: none;
  display: inline-block;
  color: rgba(202, 206, 221, 0.8);
  font-family: "tommyRegular";
  font-weight: 400;
  font-size: 16px;
  outline: none;
}

.nav-menu .menu-active a,
.nav-menu a:hover {
  color: #dde6ed;
}

.nav-menu>li {
  margin-left: 8px;
}

.nav-menu>li>a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f82249;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover>a:before,
.nav-menu .menu-active>a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu li.buy-tickets a {
  color: #dde6ed;
  background: #f82249;
  padding: 7px 22px;
  border-radius: 50px;
  border: 2px solid #f82249;
  transition: all ease-in-out 0.3s;
  font-weight: 500;
  margin-left: 8px;
  margin-top: 2px;
  line-height: 1;
  font-size: 13px;
}

.nav-menu li.buy-tickets a:hover {
  background: none;
}

.nav-menu li.buy-tickets:hover a:before,
.nav-menu li.buy-tickets.menu-active a:before {
  visibility: hidden;
}

.nav-menu ul {
  margin: 4px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #dde6ed;
  border-radius: 3px;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 10px;
  color: #060c22;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
  border-radius: 3px;
}

.nav-menu ul li:hover>a {
  background: #f82249;
  color: #dde6ed;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */

#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 15px 15px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #dde6ed;
}

#mobile-nav-toggle2 {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 15px 15px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle2 i {
  color: #dde6ed;
}

/* Mobile Nav Styling */

#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #dde6ed;
  font-size: 17px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #f82249;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #dde6ed;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #f82249;
}

#mobile-nav ul .menu-item-active {
  color: #f82249;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgbas(8, 0, 73, 0.8);
  display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle #mobile-nav-toggle2 {
  color: #dde6ed;
}

/*--------------------------------------------------------------
  # Intro Section
  --------------------------------------------------------------*/

#intro {
  width: 100%;
  height: 100vh;
  /* background: url(../img/header_pc.png) top center;
  background-size: cover; */
  overflow: hidden;
  position: relative;
}

#intro:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#intro .intro-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 50px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 0;
}

#intro h1 {
  color: #dde6ed;
  font-family: "Raleway", sans-serif;
  font-size: 56px;
  font-weight: 600;
  text-transform: uppercase;
}

.intro-img {
  width: 100vw;
}

#intro h1 span {
  color: #9db2bf;
}

#intro p {
  color: #dde6ed;
  font-weight: 700;
  font-size: 20px;
}

#intro .about-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 50px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #dde6ed;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #f82249;
}

#intro .about-btn:hover {
  background: #f82249;
  color: #dde6ed;
}

@-webkit-keyframes pulsate-btn {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    -webkit-transform: scale(0.6, 0.6);
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0;
  }
}   